
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the party!</h1>
<br/>

<img src="~/images/party.jpg"  width="300" height="300"/>

<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="PersonForm">Register</a>

